body{
    background-image: url(Russia.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }
    #pc{
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    }
    #H{
        font-size: 30px;
        font-style: oblique;
        font-weight: bolder;
        color: rgb(255, 255, 255);
    }
    header{
       text-align: end;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
    }